@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 251 0% 95%;
    --foreground: 251 0% 10%;
    --card: 251 0% 90%;
    --card-foreground: 251 0% 15%;
    --popover: 251 0% 95%;
    --popover-foreground: 251 95% 10%;
    --primary: 251 94% 67.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 251 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 213 10% 85%;
    --muted-foreground: 251 0% 40%;
    --accent: 213 10% 80%;
    --accent-foreground: 251 0% 15%;
    --destructive: 0 50% 45%;
    --destructive-foreground: 251 0% 90%;
    --border: 251 20% 50%;
    --input: 251 20% 45%;
    --ring: 251 94% 67.1%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --background: 251 10% 10%;
    --foreground: 251 0% 90%;
    --card: 251 0% 10%;
    --card-foreground: 251 0% 90%;
    --popover: 251 10% 5%;
    --popover-foreground: 251 0% 90%;
    --primary: 251 94% 67.1%;
    --primary-foreground: 0 0% 0%;
    --secondary: 251 10% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 213 10% 25%;
    --muted-foreground: 251 0% 60%;
    --accent: 213 10% 25%;
    --accent-foreground: 251 0% 90%;
    --destructive: 0 50% 45%;
    --destructive-foreground: 251 0% 90%;
    --border: 251 20% 45%;
    --input: 251 20% 45%;
    --ring: 251 94% 67.1%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::selection {
  background-color: hsl(213 10% 80%);
}
